@charset "UTF-8";

@font-face {
	font-family: 'Montserrat Regular';
	src: url('Montserrat_Regular/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Mulish ExtraLight Regular';
	src: url('Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
}


